site_name: Choice-Learn
theme:
  name: "material"
  custom_dir: docs/.overrides
  palette:
    - media: "(prefers-color-scheme: dark)"
      scheme: default
      primary: teal
      accent: amber
      toggle:
        icon: material/moon-waning-crescent
        name: Switch to dark mode
    - media: "(prefers-color-scheme: light)"
      scheme: slate
      primary: teal
      accent: amber
      toggle:
        icon: material/white-balance-sunny
        name: Switch to light mode
  features:
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
  logo: logo_choice_learn.png
  favicon: logo_choice_learn.png

markdown_extensions:
  - attr_list
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - mdx_math

extra_javascript:
  - https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-AMS-MML_HTMLorMML

plugins:
- mkdocstrings:
    handlers:
      python:
        options:
          docstring_style: numpy
        rendering:
          show_source: true
- search
- nbconvert:
      input_dir: notebooks
      output_dir: notebooks

nav:
  - HomePage: index.md
  - Tutorials:
    - Introduction: tutorials.md
    - Introductive Example: notebooks/introduction/1_introductive_example.md
    - Intoduction to data handling: notebooks/introduction/2_data_handling.md
    - Introduction to choice modelling with the Conditional Logit: notebooks/introduction/3_model_clogit.md
    - Introduction to model customization: notebooks/introduction/4_model_customization.md
  - How-To Guides:
    - Introduction: how-to-guides.md
    - Data Handling:
      - Intoduction to data handling: notebooks/introduction/2_data_handling.md
      - Exhaustive example of ChoiceDataset creation: notebooks/data/dataset_creation.md
      - Optimize RAM usage with Features Storage, in-depth examples: notebooks/data/features_byID_examples.md
    - Modeling:
      - Introduction to Choice Models - the SimpleMNL: notebooks/models/simple_mnl.md
      - Conditional Logit Usage: notebooks/introduction/3_model_clogit.md
      - Nested Logit Usage: notebooks/models/nested_logit.md
      - Building a custom choice model and handling hyper-parameters: notebooks/introduction/4_model_customization.md
      - RUMnet model Usage: notebooks/models/rumnet.md
      - Latent Class MNLs Usage: notebooks/models/latent_class_model.md
      - A reproductive example, the logistic regression: notebooks/models/logistic_regression.md
      - Model Finetuning and general hyperparamters: notebooks/models/models_finetuning.md
    - Toolbox for choice modellers:
      - Optimizing a product assortment: notebooks/auxiliary_tools/assortment_example.md
  - References:
    - Data:
      - ChoiceDataset: references/data/references_choice_dataset.md
      - ChoiceDataset Indexer: references/data/references_indexer.md
      - Features Storage: references/data/references_storage.md
    - Available Open-Source Datasets:
      - Base Datasets: references/datasets/references_base.md
      - TaFeng Dataset: references/datasets/references_tafeng.md
      - ICDM Expedia Dataset: references/datasets/references_expedia.md
    - Choice Models:
      - Base Model: references/models/references_base_model.md
      - Baseline Models: references/models/references_baseline_models.md
      - SimpleMNL Model: references/models/references_simple_mnl.md
      - Conditional Logit: references/models/references_clogit.md
      - Nested Logit: references/models/references_nested_logit.md
      - Latent Class BaseModel: reference/models/references_latent_class_base_model.md
      - Latent Class MNL: references/models/references_latent_class_mnl.md
      - RUMnet: references/models/references_rumnet.md
      - TasetNet: references/models/references_tasetnet.md
      - Learning MNL: references/models/references_learning_mnl.md
      - ResLogit: references/models/references_reslogit.md
    - Toolbox:
        - Assortment Optimizer and Pricing: references/toolbox/references_assortment_optimizer.md
  - explanations.md
