name: Build and publish choice-learn

on:
  release:
    types: [ published ]
  workflow_dispatch:

jobs:
  test-and-publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Wait for publish on TestPyPI
        uses: lewagon/wait-on-check-action@v1.3.4
        with:
          ref: main
          check-name: 'publish to PyPI'
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          wait-interval: 20

      - name: Install Python, choice-learn & run tests
        uses: actions/setup-python@v5
        with:
          python-version: '3.10' 
          
      - name: Install from TestPyPI & run tests with installed package
        run: |
          python -m pip install --index-url https://test.pypi.org/simple/ --extra-index-url https://pypi.org/simple/ choice-learn
          python tests/manual_run.py

      - name: publish to PyPI
        uses: ./.github/actions/publish
        with:
          PACKAGE_DIRECTORY: "./choice_learn/"
          PYTHON_VERSION: "3.9"
          PUBLISH_REGISTRY_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
          PUBLISH_REGISTRY_USER: ${{ secrets.PYPI_USERNAME }}
          UPDATE_CODE_VERSION: false
          BRANCH:  release_${{ github.event.release.tag_name }}
