name: Build and publish choice-learn on PyPI

on:
  workflow_run:
    workflows: [Build and publish choice-learn on TestPyPI]
    types:
      - completed
  workflow_dispatch:

jobs:
  test-and-publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Python, choice-learn & run tests
        uses: actions/setup-python@v5
        with:
          python-version: '3.10' 
          
      - name: Install from TestPyPI & run tests with installed package
        run: |
          python -m pip install --index-url https://test.pypi.org/simple/ --extra-index-url https://pypi.org/simple/ choice-learn
          pip list
          ls -l
          cd ../
          ls -l
          echo "a"
          ls -l choice_learn
          echo ${{ github.event.release.tag_name }}
          BRANCH=$(git branch --list "release_*" | tr '*' ' ')
          echo $BRANCH
          python choice_learn/tests/manual_run.py
          cd choice_learn

      - name: publish to PyPI
        uses: ./.github/actions/publish
        with:
          ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PACKAGE_DIRECTORY: "./choice_learn/"
          PYTHON_VERSION: "3.9"
          PUBLISH_REGISTRY_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
          PUBLISH_REGISTRY_USER: ${{ secrets.PYPI_USERNAME }}
          UPDATE_CODE_VERSION: false
          BRANCH: $BRANCH

